.helloContainer {
  position: relative;
  /* isolation: isolate; */
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* width: 37.5%; */
  width: 40%;
  /* aspect-ratio: 16/9; */
  /* margin-top: auto; */
  transition: margin-top 0.3s ease-in-out;
}

.helloContainer.expanded {
  /* margin-top: 100%; */

  transition: margin-top 0.3s ease-in-out;
  margin-top: calc(5rem + (9 / 16) * 100%);

  width: 100%;
  aspect-ratio: auto;
}

.helloString {
  width: max-content;
  font-size: 3.5rem;
  margin-top: 0;
  margin-bottom: 0;
}

.iAmString {
  font-size: 2.25rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.introText {
  /* margin-top: auto; */
  text-align: justify;
}

.caret {
  animation: blink 0.5s step-end infinite alternate;
  /* animation: typing 2s steps(22), blink 0.5s step-end infinite alternate; */
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    color: transparent;
  }
}

.helloButtonsWrapper {
  position: relative;
  /* width: 65%; */
  width: 100%;
  /* height: 2.5rem; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 1rem;
  /* width: 100%; */
  /* vertical-align: center; */
  /* align-items: center; */
  /* font-size: 1.1rem; */
}

.helloButton {
  background-color: var(--color-main);
  border: 1px solid var(--color-main-lighter);
  border-radius: 0.5rem;
  padding: 1rem 1rem;
  font-size: 90%;
  
}

.helloButtonLink {
  text-decoration: none;
  color: inherit;
  height: 2.5rem;

  /* height: 100%; */
  display: flex;
  align-items: center;
  /* height: 3.5rem; */
  /* width: fit-content; */
  /* width: min(max-content, 100%); */
  /* height: 100%; */
  width: auto;
}

.helloButtonLogo {
  height: 100%;
  width: auto;
}

i[class^="devicon-"] {
  font-size: 110%;
  /* height: 100%; */
  /* font-size: 1.5rem; */
  /* margin-left: 0.5rem; */
}

.helloButtonReactIcon {
  margin-top: 1%;
  margin-left: 0.5rem;
}

.helloButtonLogoLabel {
  position: relative;
  /* height: 100%; */
  display: flex;
  /* vertical-align: top; */
  margin-right: 0.5rem;
}
