.techStackItemsWrapper {
   display: grid;
   grid-template-columns: repeat(8, minMax(0, 6rem));
   column-gap: clamp(0.5rem, 3vw, 3rem);
   row-gap: clamp(1rem, 4vw, 3rem);
   justify-content: space-between;
}

.techStackRow {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   /* gap: 1rem; */
   justify-content: space-between;
}


.techStackItem {
   position: relative;
   width: 100%;
   padding: 0.75rem;
   aspect-ratio: 1 / 1;
   background: var(--color-main-darker);
   border: 1px solid var(--color-main);
   border-radius: 1rem;
   cursor: pointer;
   transition: transform 0.2s ease-in-out;
}

.techStackItem:hover {
   transform: scale(1.1);
   z-index: 10;
}

.techStackItemImage {
   height: 100%;
   width: 100%;
}

.techStackInfoHoverElement {
   position: absolute;
   width: max-content;
   top: 110%;
   left: 50%;
   transform: translateX(-50%);
   background-color: var(--color-main);
   border: 1px solid var(--color-main-lighter);
   border-radius: 0.5rem;
   padding: 0.5rem;
   display: flex;
   flex-direction: column;
   /* gap: 0.5rem; */
   align-items: center;
   justify-content: center;
   text-align: center;
}


@media (max-width: 768px) {
  .techStackItem {
   padding: 0.25rem;
   border-radius: 0.25rem;
  }
}