:root {
  font-family:
   /* source-sans-pro, sans-serif, */
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
  /* color: #f3f4f6; */
  /* background: #16171d; */
  /* line-height: 1.5; */
  font-weight: 400;
  color: #e0e0e0;
  /* background-color: #121212; */
  --background-color: #121212;
  /* ? --color-main HEX site source:  https://www.color-hex.com/color/35324a */
  --color-main: #35324a;
  --color-main-dark: #2a283b;
  --color-main-darker: #1f1d2c;
  --color-main-darkest: #14131c;
  --color-main-light: #403c59;
  --color-main-lighter: #4b4768;
  --color-main-lightest: #565178;
  --color-main-gray: #49465c;
  --color-main-grayer: #5d5a6e;
  --color-main-grayest: #716f80;
  --color-main-light-gray: #858492;
  --color-main-lighter-gray: #9a98a4;
  --color-main-lightest-gray: #aeadb6;
  --color-main-white: #c2c1c8;
  --color-main-whiter: #d6d6da;
  --color-main-whitest: #eaeaec;

  --color-main-triadic-red: #4a3532;
  --color-main-triadic-green: #324a35;
  --color-main-analogous-purple: #41324a;
  --color-main-analogous-blue: #323b4a;
  --color-main-complementary-green: #474a32;

  --color-secondary: #4B4858;
  
  --background-color: var(--color-main-darkest);


  --tech-frontend: #2e496c;
  /* --tech-frontend: #35557e; */
  --tech-backend: #671e49;
  /* --tech-backend: #56193d; */
  --tech-other: #735d85;
  /* --tech-other: #5a4326; */
  
  /* --color-secondary: #49465c; */
  /* --color-secondary: #595673; */
  --color-secondary-light: #0d0d0e;
  --color-secondary-dark: #201c33;
  --color-accent: #5B20A7;
  --color-accent-light: #6B30B7;
  --color-accent-dark: #4B10A7;
  /* --background-gradient-color: #201c33; */
  --background-gradient-color: var(--color-main);

  --border-gradient-color: #323B4A;
  /* --border-gradient-color: rgb(76, 66, 126); */
  /* --tech-backend: rgb(55, 145, 135); */
  --test-gray-color: rgb(125, 132, 145);
  --test-beige-color: rgb(238, 224, 203);
  --test-pink-color: rgb(255, 135, 171);
  --test-magenta-color: rgb(255, 135, 171);
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  font-size: 16px;
  /** clipped overflow added for section specific background overflows caused by the ::before elements **/
  overflow-x: clip;
}
body {
  position: relative;
  isolation: isolate;
  min-height: 100vh;

  background-color: var(--background-color);
  color: var(--color-main-whitest);

  /* background-image: url("/src/assets/images/WebPortfolioBackGroundImage.png"); */
  /* background-position: top left; */
  /* background-repeat: repeat; */
  /* background-size: 10000px auto; */
}

body::before {
  content: "";
  position: absolute;
  inset: 0;

  /* background-color: rgba(18, 18, 18, 0.9); */
  /* background: linear-gradient(var(--background-gradient-color) 0%, var(--background-color) 15%, var(--background-gradient-color) 85%, var(--background-color) 100%); */
  background: radial-gradient(
    circle at 36% 5%,
    var(--color-main),
    var(--color-main-darkest) 15%,
    var(--background-color) 100%
  );

  pointer-events: none;
  z-index: 0;
}

/* img,
svg {
  display: block;
  max-width: 100%;
} */

/* .react-flow__edges svg { */
/* max-width: none; */
/* } */

button,
input,
textarea,
select {
  font: inherit;
}

p {
  margin: 0 auto;
}

.center {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.spaceEvenly {
  display: flex;
  justify-content: space-evenly;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
}

.spaceAround {
  display: flex;
  justify-content: space-around;
}

.fullWidth {
  width: 100%;
}

.halfWidth {
  width: 50%;
}

.greenText {
  color: #00b100;
  /* color: #5B20A7; */
}

.purpleText {
  /* color: #5B20A7; */
  color: var(--background-gradient-color);
  filter: brightness(5);
}

.goldText {
  color: #ffd700;
}

.whiteText {
  color: var(--color-main-whitest);;
}
